[Unit]
Description = fan_controller

[Service]
WorkingDirectory = /opt/fan
ExecStart = /opt/fan/fan_controller.py
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target