[Unit]
Description = fan_controller

[Service]
ExecStart = /usr/bin/sudo /usr/bin/python /opt/fan/fan_controller.py
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target